.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin: 35px 375px;
    font-family: Arial, sans-serif;
    padding-bottom: 15px;
}

.login-logo {
    width: 150px;
    margin-bottom: 10px;
}

.login-box-section {
    flex: 1;
    background-color: #00994d;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login-box-section h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 25px;
}

.login-input-group {
    margin-left: 15px;
    margin-right: 35px;
    margin-bottom: 20px;
    text-align: left;
}

.login-input-group label {
    display: block;
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
}

.login-input-group input {
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    color: #333;
}

.login-input-group input::placeholder {
    color: #ccc;
}

.login-forgot-password {
    display: block;
    color: white;
    text-align: right;
    font-size: 16px;
    margin-right: 15px;
    margin-bottom: 30px;
    text-decoration: none;
}

.login-forgot-password:hover {
    text-decoration: underline;
}

.btn-login:hover {
    background-color: #22c55e;
}

.login-create-account {
    display: block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.login-create-account:hover {
    text-decoration: underline;
}

/* Responsivo para telas médias */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        padding: 20px;
        margin: 20px;
    }
    .login-box-section {
        width: 100%;
        padding: 20px;
    }
}

/* Responsivo para telas pequenas */
@media (max-width: 480px) {
    .login-container {
        margin: 20px;
    }
    .login-logo {
        width: 120px;
    }
    .login-box-section {
        padding: 15px;
        border-radius: 10px;
    }
    .login-box-section h2 {
        font-size: 24px;
    }
    .login-input-group input {
        font-size: 14px;
        padding: 8px;
    }
    .login-forgot-password {
        font-size: 14px;
    }
    .login-create-account {
        font-size: 14px;
        padding-bottom: 10px;
    }
}

.login-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.tab {
    padding: 10px 20px;
    background-color: #00994d;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .tab.active {
        background-color: #22c55e;
        color: white;
    }
