.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;

    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    touch-action: none;
}

@media (max-width: 768px) {
    .input-group input {
        font-size: 16px;
        padding: 12px;
    }
}