.button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .button-group .button {
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .button-group .button-primary {
        background-color: transparent;
        color: #00994d;
        border: 2px solid #00994d;
    }

        .button-group .button-primary:hover {
            background-color: #00994d;
            color: white;
        }

    .button-group .button-cancel {
        background-color: transparent;
        color: red;
        border: 2px solid red;
    }

        .button-group .button-cancel:hover {
            background-color: red;
            color: white;
        }

@media (max-width: 768px) {
    .button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }
}
