.cadastro-usuario-container {
    margin: 0 auto;
    padding: 20px 275px;
}

.selectPersonal {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    touch-action: none;
}

@media (max-width: 768px) {
    .cadastro-usuario-container {
        justify-content: center;
        padding: 20px;
    }

    .title-group h1 {
        font-size: 28px;
    }

    .title-group h2 {
        font-size: 24px;
    }

    .input-group input,
    .textArea-group textarea,
    .select-group select {
        font-size: 16px;
        padding: 8px;
    }
}

.error-message {
    color: red;
}

