.title-group {
    text-align: center;
    margin-bottom: 20px;
}

    .title-group h1 {
        font-size: 32px;
        color: #00994d;
        margin-bottom: 10px;
    }

    .title-group h2 {
        color: #00994d;
        font-size: 28px;
    }

@media (max-width: 768px) {
    .title-group h1 {
        font-size: 28px;
    }

    .title-group h2 {
        font-size: 24px;
    }
}
