.input-cref-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

    .input-cref-group label {
        font-size: 18px;
        color: #333;
        margin-bottom: 5px;
    }

.input-cref-row {
    display: flex;
    gap: 0.5rem; /* espaço entre os inputs */
}

.input-cref {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
    touch-action: none;
}

    /* CREF ocupa mais espaço */
    .input-cref.cref {
        flex: 5;
    }

    /* Categoria ocupa pouco espaço */
    .input-cref.categoria {
        flex: 1;
        text-align: center;
    }

    /* Estado ocupa pouco espaço */
    .input-cref.estado {
        flex: 1;
        text-align: center;
    }

.error-message {
    color: #d9534f;
    font-size: 12px;
    margin-top: 4px;
}

@media (max-width: 768px) {
    .input-group input {
        font-size: 16px;
        padding: 12px;
    }
}
